---
layout: default
title: Homepage
banner_background_class: bg-featured
---
<div class="grid-spaceAround padded-sm bg-light">
    <!-- <div class="col-3_md-5_sm-12-middle tall-50 bg-image padded-sm bg-wireframes"></div>
    <h1 class="col-4_md-5-middle hide-sm">
        Harnessing the strength of minimalism, I shape influential creations that lift your individual vision to soaring heights.
    </h1> -->
    <div class="col-3-middle bg-image tall-50 padded-sm bg-designing hide-md"></div>
</div>

<div class="bg-dark padded-xs hide-md">
    <div class="row text-light center">
        <div class="scroll">
            <div>&ensp;Stategic&ensp;•&ensp;Branding&ensp;•&ensp;Web Design&ensp;•&ensp;Web Development&ensp;•&ensp;Responsive Design&ensp;•&ensp;Web Design&ensp;•&ensp;Branding&ensp;•&ensp;Web Development&ensp;•
            </div>
            <div class="second">&ensp;Stategic&ensp;•&ensp;Branding&ensp;•&ensp;Web Design&ensp;•&ensp;Web Development&ensp;•&ensp;Responsive Design&ensp;•&ensp;Web Design&ensp;•&ensp;Branding&ensp;•&ensp;Web Development&ensp;•
            </div>
        </div>
    </div>
</div>

<div class="padded grid-spaceBetween bg-featured">
    <div class="grid-spaceBetween text-light ">
        <div class="col-3_md-5-middle_xs-12 grid-spaceAround">
            <div class="text-light padded-r-3 padded-1">
                <p class="emphasis">I'd love to invite you to look at my Instagram to see more projects that I have worked on.</p>
                <a href="https://www.instagram.com/designsbyday_/"><h6>Jump to my Feed!</h6></a>
            </div>    
        </div>
        <div class="col-2_md-5_xs-12 center padded-1">
            <a href=" https://giant-ostrich.cloudvent.net " target="_blank">
                <div class="bg-image bg-design1 padded-sm tall-30"></div>
                <h5 class="padded-t-1"> Brand and Website Development </h5>
            </a>
        </div>
        <div class="col-2_md-5_xs-12 center padded-1">
            <a href="https://gutsy-leek.cloudvent.net" target="_blank">
                <div class="bg-image bg-design2 padded-sm tall-30"></div>
                <h5 class="padded-t-1"> Website Development </h5>
            </a>
        </div>
          <div class="col-2_md-5_xs-12 center padded-1">
            <a href="https://www.instagram.com/p/CUtpU0IslQ4/" target="_blank">
                <div class="bg-image bg-design3 padded-sm tall-30"></div>
                <h5 class="padded-t-1"> Branding Project </h5>
            </a>
        </div>
      </div> 
</div>

<hr class="full-width-divider" />

<div class="center padded-sm bg-light">
    <h5>"Design is the silent ambassador of your brand."</h5>
    <p>- Paul Rand</p>
</div>

<hr class="full-width-divider" />

<section class="grid padded">

    <div class="gallery grid-spaceAround col-7" id="lightgallery">
          
              <!--POLAROID-->
          
            <figure class="instax-long" style="right: 80%;transform: rotate(12.30709deg) scale(0.995);bottom: 35%;z-index: 3;aspect-ratio: 6.5/9.20;filter: saturate(1.125);">
                <div class="media" style="">
                    <div class="media-img" style="background-image: url(assets/personal-images/grampians.jpg);"></div>
                </div>
                <figcaption class="caption"></figcaption>
            </figure>
          
            <figure class="instax-long" style="left: 33%;transform: rotate(3.30709deg) scale(0.95);top: 1%;z-index: 5;aspect-ratio: 6.5/9.20;">
                <div class="media" style="">
                    <div class="media-img" style="background-image: url(assets/personal-images/at-the-footy.jpg);"></div>
                </div>
                <figcaption class="caption"></figcaption>
            </figure>
          
            <figure class="instax-long" style="right: 88%;transform: rotate(3.30709deg) scale(1.05);top: 33%;z-index: 5;aspect-ratio: 6.5/9.20;">
                <div class="media" style="">
                    <div class="media-img" style="background-image: url(assets/personal-images/patting-lion-cubs.jpg);"></div>
                </div>
                <figcaption class="caption"></figcaption>
            </figure>

            <figure class="instax-long" style="right: 50%;transform: rotate(3.30709deg) scale(1.05);top: 34%;z-index: 5;aspect-ratio: 6.5/9.20;">
                <div class="media" style="">
                    <div class="media-img" style="background-image: url(assets/personal-images/patting-giraffe.jpg);"></div>
                </div>
                <figcaption class="caption"></figcaption>
            </figure>

            <figure class="instax-wide" style="right: 64%;transform: rotate(3.30709deg) scale(1.05);top: 24%;z-index: 4;aspect-ratio: 6.5/9.20;">
                <div class="media" style="">
                    <div class="media-img" style="background-image: url(assets/personal-images/elephants-drinking.jpg);"></div>
                </div>
                <figcaption class="caption"></figcaption>
            </figure>
            </div>
          
          </div>
    </div>
    
    <div class="col-5-middle_sm-12 padded grid">
        <div class="grid-spaceBetween padded-sm">
            <h2 class="col-2-right_sm-12 bold-text text-featured h2-larger">Hey! </h2>
            <h5 class="col-10-middle bold-text padded-sm">I'm Moni,</h5>
            <p class="col-12"><span class="bold-text margin-b-2">I am the creative force behind Designs by Day</span>. 
            <br>My journey in design started with a childhood love for sketching and evolved into a commitment to shaping influential creations. With a degree in design and a background in education, my approach combines <span class="bold-text">creativity, efficiency, and empowerment</span>.</p>
            {% include cta-button.html %}
        </div>
    </div>
</section>
    
<section class="bg-medium padded-xs">
    <div class="padded-xs grid-center">
        <div class="col-5 padded padded-tb-0 padded-r-2 margin-l">
            <h4 class="text-light center">Brand Strategy and Design</h4>
            <div class="bg-image bg-overlay bg-me-designing padded-sm tall-20"></div>
        </div>
        <div class="col-5 padded padded-tb-0 padded-l-2 margin-r">
            <h4 class="text-light center">Website Development</h4>
            <div class="bg-image bg-overlay bg-coding padded-sm tall-20"></div>
        </div>
    </div>
    <div class="center grid-center padded-xs">{% include cta-button.html %}</div>
</section>

{% include short-enquiry-form.html %}