* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* ----------- CSS RESET --------- */

  
img { max-width: 100%; height: auto; }

/* Override default gridlex padding */ 
[class*=col] { padding: 0; }
[class*=grid] { margin: 0; }

section { position: relative; }


/* ---------- Negative Space Utility Classes  ------------------ */ 

.capped-width-wide      { max-width: 1600px; margin: auto; }
.capped-width           { max-width: 1200px; margin: auto; }
.capped-width-narrow    { max-width: 1000px; margin: auto; }
.capped-width-v-narrow  { max-width: 800px;  margin: auto; }


.tall-100 { min-height: 100vh; }
.tall-90  { min-height: 90vh; }
.tall-80  { min-height: 80vh; }
.tall-70  { min-height: 70vh; }
.tall-60  { min-height: 60vh; }
.tall-50  { min-height: 50vh; }
.tall-40  { min-height: 40vh; }
.tall-35  { min-height: 35vh; }
.tall-30  { min-height: 30vh; }
.tall-20  { min-height: 20vh; }
.tall-10  { min-height: 10vh; }

/* Padding Utility Classes */ 
.padded-xs { padding: 1%; }
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }
.padded-xl { padding: 15%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 2%; padding-bottom: 2%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }
.padded-tb-0 {padding-top: 0; padding-bottom: 0;}



/* Extra Padding */

.padded-r-3 { padding-right: 3rem; }

.padded-xl-lr { padding-right: 15%; padding-left: 15%;  }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-05 { margin-top: 0.5rem; }
.margin-b-05 { margin-bottom: 0.5rem; }
.margin-l-05 { margin-left: 0.5rem; }
.margin-r-05 { margin-right: 0.5rem; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-none {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }
.margin-lr-large { margin-left: 7.5%; margin-right: 7.5%; }

.round-corners{
  border-radius: 20px;
  overflow: hidden; 
}

.middle-align{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------ Backgrounds & Background Images  ----------------------- */

.bg-dark     { background-color: var(--dark);}
.bg-featured { background-color: var(--featured);}
.bg-medium   { background-color: var(--medium); }
.bg-light    { background-color: var(--light); }
.bg-accent  { background-color: var(--accent); }

.bg-image {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 5%;
    background-color: var(--dark);
}

.bg-straight-side-right {border-radius: 0% 5% 5% 0%;}
.bg-straight-side-left {border-radius: 5% 0% 0% 5%;}

/* Add a second class to change the color or style  */

.bg-overlay-gradient::after { 
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
} 

.bg-overlay-featured::after { 
  background-color: var(--featured);
  opacity: 0.5;
} 

/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */

a.bg-image { display: block;}

.landscape     {padding-bottom: 66%;}
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { width: 100%; height: 100%; }


/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }

.bg-padded {padding: 25%;}

.logo-main {
  background-image: url('assets/logos/main-logo.png'); 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.transparent-bg {
  background-color: transparent;
}

.bg-me{
  background-image: url(assets/personal-images/designing.jpg);
  background-position: center;
  background-size: cover;
  transform: scaleX(-1);
}

.bg-wireframes{
  background-image: url(assets/images/working-in-studio.jpg);
  background-position: center;
  background-size: cover;
}

.bg-designing {
  background-image: url(assets/images/wireframes.jpg);
  background-position: center;
  background-size: cover;
}

.bg-coding {
  background-image: url(assets/images/working-on-code.jpg);
  background-position: center;
  background-size: cover;
}

.bg-me-designing {
  background-image: url(assets/personal-images/designing.jpg);
  background-position: 50% 62%;
  background-size: cover;
}

.bg-design1{
  background-image: url(assets/projects/beyond-coffee.png);
  background-position: center;
  background-size: cover;
}

.bg-design2{
  background-image: url(assets/projects/sleep-co.png);
  background-position: center;
  background-size: cover;
}

.bg-design3{
  background-image: url(assets/projects/bounce-co.png);
  background-position: center;
  background-size: cover;
}

.bg-overlay{ 
  position: relative;
  border-radius: 20px;
  overflow: hidden;  }

.bg-overlay::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3)
}

/* ------------ Social Media Icons ----------------------- */

.fb-icon{
  background-image: url(assets/icons/facebook.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.instagram-icon{  
  background-image: url(assets/icons/instagram.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.linkedin-icon{   
  background-image: url(assets/icons/linkedin.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.dribble-icon{    
  background-image: url(assets/icons/dribble.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.email-icon{      
  background-image: url(assets/icons/email.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.pinterest-icon{  
  background-image: url(assets/icons/pinterest.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.github-icon{     
  background-image: url(assets/icons/github.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

/* Aspect Ratio  */
.portrait-tall { padding-bottom: 175%; }
.portrait { padding-bottom: 125%; }
.square { padding-bottom: 100%; }
.landscape { padding-bottom: 66%; }
.landscape-wide { padding-bottom: 56%; }

/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


.gallery [class*="col-"] {
  padding: 0.5%;
}

/* Gallery - Background Images  */


/* ---------- Polaroid Gallery ---------- */


.container {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  background: 0 0;
  display: flex;
}
figure.instax-long,
figure.instax-wide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1% 1% 2% 2%;
  margin: 0;
  position: absolute;
}
figure.instax-wide {
  background: linear-gradient(
    45deg,
    hsl(190 5% 94% / 1) 0,
    hsl(200 2% 88% / 1) 50%,
    hsl(190 5% 94% / 1) 100%
  );
  height: calc(28vh);
  box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 30%);
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
  aspect-ratio: 10.8/8.6;
  min-height: 120px;
}
figure.instax-long {
  height: calc(25vh);
  aspect-ratio: 6.5/8.6;
  box-shadow: 2px 2px 4px 0 rgba(17, 17, 17, 0.35),
    0 5px 10px -5px rgb(50 50 73 / 40%),
    0 1.25px 1.25px -1.25px rgb(50 50 73 / 30%);
  background: linear-gradient(to bottom, #ece9e6, #fafafa);
  min-height: 120px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}
figure.instax-long::before,
figure.instax-wide::before {
  content: "";
  display: block;
  height: 4%;
}
figure.instax-long::before {
  height: 1%;
}
.media {
  height: 72.1%;
  margin-inline: auto;
  position: relative;
  aspect-ratio: 9.8/6.2;
}
figure.instax-long .media {
  aspect-ratio: 5.5/6.4 !important;
}
.media::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25) inset;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3) 0,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.media-img {
  background-size: cover;
  background-position: 50% 100%;
  width: 100%;
  height: 100%;
}
figcaption.caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgb(255 255 255 / 40%);
  border-radius: 0 0 2% 2%;
  height: 14%;
  display: flex;
  padding-inline: 8%;
}
.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0 0;
  min-width: 100vh !important;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  background-position: center;
  margin: auto;
}
.card-container::after {
  content: "";
  background-image: url(https://assets.codepen.io/4927073/10_.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 125;
  opacity: 0.75;
  filter: drop-shadow(0.25px 0.25px 0.25px #000) opacity(0.65);
}


/* Adjust the rotation, size, margin, and box-shadow based on your preference */


/* ------------ Typography Styles ----------------------- */

.left         { text-align: left; }
.right        { text-align: right; }
.center       { text-align: center; }
.uppercase    { text-transform: uppercase; }

body {
  font-family: 'etna', sans-serif;
  font-weight: 300;
  color: var(--dark-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'portofino', sans-serif;
  font-weight: 200;
  line-height: 1.1;
  margin-bottom: 1.2rem;

}

h1 { font-size: 2.2rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

p, li {
  margin-bottom: 1rem;
  font-family: 'etna', sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

h1:last-child, 
h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}

/* Unique Typography Styles  */
.emphasis       { font-size: 1.2rem; }
.h2-larger       { font-size: 2.5rem; }
.text-featured  { color: var(--featured-text); }
.text-light     { color: var(--light-text); }
.text-accent    { color: var(--accent-text); }
.subtle         { opacity: 0.8;     }
.subtitle       { font-size: 0.8rem; }

.bold-text{
  font-weight: 700;
}

.logo h2 {
  font-size: 3rem;
  font-weight:normal;
  text-align: center;
}


/* ------------ Buttons & Links ------------ */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
  color: inherit;
  font-weight: bold; 
}

p a {
    text-decoration: none;
    border-bottom: 1px solid;
}

p a:hover { 
  color: var(--featured-text); 
}

h2 a:hover{
  -webkit-text-stroke: #ece9e6;
  color: transparent;
}

.book-chat {
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--featured);
  text-align: center;
  color: var(--light);
}

.book-chat:hover {
  font-weight: inherit;
  color: var(--featured-text);
  background-color: var(--accent);
}

.button { 
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--dark);
    background-color: var(--featured);
}

.button:hover {
    color: var(--featured-text);
    background-color: var(--accent);
}

.in-para-link {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid;
}

.in-para-link:hover {
  color: var(--featured);  
}

.banner-button {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid;
}

.banner-button:hover {
  color: var(--accent);  
}

.subtle-button {
  text-decoration: none;
  border-bottom: 1px solid;
}



.footer-button a{
  color: inherit;
}

.footer-button a:hover{
  color: var(--dark-text);
  font-weight: inherit;
}

.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn {
  font-family: 'etna', sans-serif;
  text-decoration: none;
  cursor: pointer;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
  width: 175px;
  height: 50px;
  padding: 17px;
  border: none;
  border-radius: 30px;
  margin: 0 10px 40px;
  color: var(--dark);
  flex: 0 0 auto;
  text-align: center;
}

.btn-2 {
  background: var(--accent);
  transition: box-shadow 0.16s ease;
}

.btn-2:hover {
  background: var(--featured);
  color: var(--v-light);
}

/* ------------ Header & Hamburger Menu -------------- */
header {
    padding: 1rem 5%;
}

nav a {
    padding: 0.25rem 0.5rem;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
}
nav a:hover {
  color: var(--featured-text);
}

.logo {
  text-decoration: none;
  font-size: 2.5rem;
} 


/* Dropdown styles */

.dropdown { 
  position: relative; 
  display: inline-block;
  border: 1px solid orange;
}

.dropdown-title {
  padding: 0.25rem 0.5rem;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -1rem;
  padding: 0.5rem;
  display:none; 
  background-color: white;
  z-index: 2;
  text-align: left;
  min-width: 10rem;
  border: 1px solid red;
}

.dropdown:hover .dropdown-content{ 
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 0.2rem;
}

  /* Mobile Menu Styles */

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--accent);
  color: var(dark);
  
}

.mobile-menu a {
  text-decoration: none; 
  color: inherit; 
  padding: 5vh 5%;
  display: block;
  font-weight: normal;
  font-size: 1.5rem;
}

.hamburger-button {
    cursor: pointer;
    padding: 0.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    position: fixed;
    right: 2rem;
    top: 4rem;
    z-index: 2;
}

.hamburger-button.active {
  color: var(--featured);
  rotate: 90;
}

/* General CSS Responsive Styles */
.mobile-menu {
  display: none; 
  background-color: var(accent); 
  padding: 5%;
  position: fixed; 
  top:0;
  bottom: 0;
  left:0;
  right:0;
  text-align: center;
}

/* ------------ Contact Forms  ----------------------- */

input, textarea {
  width: 100%;
  display: block;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.9rem;
  border: 2px solid transparent;
}

input:focus,
textarea:focus {
  border: 2px solid var(--featured);
  color: var(--dark);
  background-color: var(--accent);
  outline: none;
}

.submit-button{
  background-color: var(--featured);
  color: var(--light);
  font-family: inherit;
  border: 2px solid var(--accent);
}

.submit-button:hover{
  background-color: var(--accent);
  border: 2px solid var(--featured);
  columns: var(--dark);
}

/* ------------ Blogging elements  ----------------------- */



/* Post Loop Item  */

/* .post-item {
  text-decoration: none;
} */


/* Individual Elements */

/* .tag {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 0.8rem;
  margin-right: 0.4rem;
}

.post-info {
  font-size: 0.8rem;
  color: var(--medium-text);
} */

/* Individual Blog Post Pages  */

/* .blog-content h1 {
  font-family: 'Martel', serif; 
  font-weight: 200;
  font-size: 3rem;
}

.blog-content p {
  line-height: 1.6;
}

.blog-content hr {
  border: none;
  border: 1px solid var(--medium);
} */


/* Sidebar */
/* .sidebar-item {
  border: 2px solid var(--light);
  margin-bottom: 1rem;
  color: var(--medium-text);
}
.sidebar-item p {
  font-family: 'Mulish', serif; 
  font-weight: 300;
}

.recent-posts-nav a{
  display: block;
  font-weight: 300;
} */

/* Social Share Nav  */

.social-share a {
  padding: 0.25rem 0.5rem;
}

/* ------------ Word Flip Animation ----------------*/

.flipping-text {
  font-weight: 600;
  font-size: 1.5rem;
}


.content {
  position: absolute;
  top: 104%;
  left: 5%;
  /* transform: translate(-50%, -50%); */
  /* height: 160px; */
  overflow: hidden;
  font-size: 2rem;
  font-weight: 600;
  line-height: 40px;
}

.content__container {
  overflow: hidden;
  height: 40px;
}

.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: var(--v-light);
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}
.content__container__list {
  margin-top: 0;
  padding-left: 120px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/* ---------- Word Scroll Animation ---------- */

.row {
  width: 100vw;
  position: relative;
  overflow: hidden:
}
.scroll {
  width: 100%;
  display: flex;
}
.scroll div {
  color: #fff;
  font-size: 2rem;
  white-space: nowrap;
  animation: loop 30s linear infinite;  
}
.scroll .second {
  animation: loop2 30s linear infinite;
  animation-delay: -15s;
}
@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* ------------ Page Name  ----------------------- */




/* ---------- FOOTER ---------- */

.footer-menu a {
  position: relative;
  padding-left: 20px; /* Adjust as needed for spacing */
}

.footer-menu a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100%;
  width: 1px; /* Width of the vertical line */
  background-color: var(--accent); 
  display: inline-block;
  margin-right: 10px; /* Adjust as needed for spacing */
}

/* NEED TO CHECK THIS AS I DON'T KNOW WHAT HAS HAPPENED. THERE IS NO WAY TO CHECK IT 

.vertical-line {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100%;
  width: 1px; Width of the vertical line 
  background-color: var(--accent); 
  display: inline-block;
  margin-right: 10px; Adjust as needed for spacing 
} */

/* ---------- OTHER ---------- */

hr.short {
  border: 1px solid var(--dark-text);
  width: 2rem;
  margin: 1rem 0;
}

hr.short.center {
  margin:auto;
  margin: 1rem auto;
}

.full-width-divider {
  width: 100%;
  border: 2px solid var(--dark); /* Set your desired color */
}

.curved-edges{
  border-radius: 10px; /* Set your desired border radius */
}

/* ------------ Responsive Styles ----------------------- */

/* General CSS Responsive Styles (Apply everywhere unless overriden) */ 

.show-xs, 
.show-sm,
.show-md,
.mobile-menu {
	display: none; 
}

.inline { 
  display: inline-block;
  vertical-align: top;
}

/* ---------- FIXING UP GRIDLEX ---------- */

header [class*=col] {
  padding: 0;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:64em) {

	.show-md { display: block; }
	.hide-md { display: none;  }
  h1  { font-size: 1.7rem;}
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.3rem; }
  h4 { font-size: 1.2rem; }
  h5 { font-size: 1.1rem; }
  h6 { font-size: 1rem; }

  .tall-50{min-height: 20vh;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 


@media(max-width:48em) {
  
	.show-sm { display: block; }
	.hide-sm { display: none;  }

  .sm-text-center { text-align: center; }
  .sm-text-left   { text-align: left; }
  .sm-text-right  { text-align: right; }

  .sm-padded     { padding: 5%; }
  .sm-padded-1   { padding: 1rem; }
  .sm-padded-05  { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }

  .sm-landscape     { padding-bottom: 66% ; }
  .sm-portrait-tall { padding-bottom: 175%; }
  .sm-portrait      { padding-bottom: 125%; }
  .sm-square        { padding-bottom: 100%; }

}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:36em) {

		.show-xs { display: block; }
		.hide-xs { display: none;  }

    .subtle-heading-xs {
      font-weight: 300;
    }
    .h4-phone {
      font-size: 1rem;
    }
}