
<div class="bg-light padded-sm  grid-center">
    <a href="/index.html" class="col-3 bg-image transparent-bg logo-main center tall-10">
    </a>
</div>


<div>    
    <hr class="full-width-divider">
    <nav class="sm-text-center center hide-sm menu-nav-size padded-xs bg-accent ">
        <a href="/about-me.html">About Me</a>
        <a href="/portfolio.html">Portfolio</a>
        <a href="/contact-me.html">Contact Me</a>
        <a href="/faqs.html">FAQs</a>
    </nav>
    <hr class="full-width-divider hide-sm">
</div>

<div class="col-7 right mobile-menu mobile-show">
    <a class="hamburger-button"> &#9776; </a>
  </div>
</header>

<div class="mobile-menu"> 
  <nav> 
    <a href="/about-me.html">About Me</a>
    <a href="/portfolio.html">Portfolio</a>
    <a href="/contact-me.html">Contact Me</a>
    <a href="/faqs.html">FAQs</a>
  </nav>
</div> 