
<div class="bg-light padded-sm hide-md">
    <a href="/index.html" class="logo center">
    <h1 >Designs by Day</h1>
    </a>
</div>


<div>    
    <hr class="full-width-divider">
    <nav class="sm-text-center center hide-md menu-nav-size padded-xs bg-accent ">
        <a href="/about-me.html">About Me</a>
        <a href="/portfolio.html">Portfolio</a>
        <a href="/contact-me.html">Contact Me</a>
        <a href="/faqs.html">FAQs</a>
    </nav>
    {% include mobile-menu.html %}
    <hr class="full-width-divider">
</div>

<!-- IGNORE THIS IS THE MOBILE INFORMATION -->

<nav class="mobile-menu bg-featured padded hide-md">
    <a href="/index.html">Home</a>
    <a href="/about-me.html">About Me</a>
    <a href="/portfolio.html">Portfolio</a>
    <a href="/contact-me.html">Contact Me</a>
    <a href="/faqs.html">FAQs</a>
 </nav>
