<div class="header-nav col-12-top grid">
    <div class="padded sm-padded-b-0 logo-main center">
        <a href="/index.html" class="logo">
            <img src="assets/Logos/primary-logo/Primary Logo 1-100.jpg">
        </a>
    </div>
    <nav class="text-right sm-text-center hide-md menu-nav-size padded">
        <a href="/about-me.html">About Me</a>
        <a href="/products.html">Portfolio</a>
        <a href="/contact-me.html">Contact Me</a>
        <a href="/faqs.html">FAQs</a>
    </nav>

    <div class="col-1_sm-12 ">
        
    </div>
</div>
<nav class="mobile-menu bg-featured padded hide-md">
    <a href="/index.html">Home</a>
    <a href="/about-me.html">About Me</a>
    <a href="/products.html">Portfolio</a>
    <a href="/contact-me.html">Contact Me</a>
    <a href="/faqs.html">FAQs</a>
 </nav>