<div id="container">
    <div class="navToggle"><div class="icon"></div></div>
    <div id="menu"><ul>
      <li>Home</li>
      <li>About</li>
      <li>Work</li>
      <li>Contact</li>
      </ul>
      </div>
  </div>

  <div class="hamburger-button">Menu</div>
  <div class="mobile-menu">
    <nav>
        <a href="/about-me.html">About Me</a>
        <a href="/portfolio.html">Portfolio</a>
        <a href="/contact-me.html">Contact Me</a>
        <a href="/faqs.html">FAQs</a>
    </nav>
  </div>