<div class="hamburger-button">Menu</div>
<div class="mobile-menu">
<nav>
    <a href="/about-me.html">About Me</a>
    <a href="/portfolio.html">Portfolio</a>
    <a href="/contact-me.html">Contact Me</a>
    <a href="/faqs.html">FAQs</a>
</nav>
</div>

<div class="col-1 show-sm">
    <div class="hamburger-button">
        <i class="fas fa-bars"></i>
    </div>
</div>
</div>
<nav class="mobile-menu bg-featured padded">
<a href="/index.html">About Me</a>
<a href="/about.html">Portfolio</a>
<a href="/products.html">Contact Me</a>
<a href="/contact.html">FAQs</a>
</nav>