<section class="grid bg-accent light-text padded">
    <div class="col-6_sm-4_xs-12 padded">
        <h5>Fill out an enquiry form<br>and I will be in touch</h5>
    </div>
    <div class="col-6_sm-8_xs-12 padded-md">
        <form class="grid-spaceBetween">
            <input type="text" name="first name" placeholder="First Name" class="text-light col-5 padded-xs curved-edges bg-featured">
            <input type="text" name="surname" placeholder="Surname" class="curved-edges text-light col-5 padded-xs bg-featured">
            <input class="curved-edges text-light padded-xs col-5 bg-featured" type="email" name="_replyto" placeholder="Your Email">
            <input class="padded-xs curved-edges col-5 text-light bg-featured" type="tel" name="_replyto" placeholder="Your Phone Number">
            <textarea class="text-light curved-edges col-12 padded-xs bg-featured" name="message" placeholder="Tell me why your enquiring..."></textarea>
            <button class="submit-button button padded-xs curved-edges bg-featured" type="submit">
                <a href="https://calendly.com/designsbyday-moni/30min?month=2023-12" target="_blank" rel="noopener noreferrer">SUBMIT</a>
            </button>
        </form>
    </div>
</section>
