       <!--------------- Footer Section --------------->

    <footer class="padded-t-1 padded-b-1 padded-lr grid-spaceBetween bg-featured text-light ">
        <nav class="footer-menu editable col-6-middle footer-button">
            <a href="/about-me.html">About Me</a>
            <a href="/portfolio.html">Portfolio</a>
            <a href="/contact-me.html">Contact Me</a>
            <a href="/faqs.html">FAQs</a>
        </nav>

        <div class="col-4-middle grid-spaceAround">
            <a href="#" class="margin-none fb-icon padded col-1-middle bg-image"></a>
            <a href="#" class="margin-none instagram-icon padded col-1-middle bg-image"></a>
            <a href="#" class="margin-none linkedin-icon padded col-1-middle bg-image"></a>
            <a href="#" class="margin-none dribble-icon padded col-1-middle bg-image"></a>
            <a href="#" class="margin-none pinterest-icon padded col-1-middle bg-image"></a>
            <a href="#" class="margin-none github-icon padded col-1-middle bg-image"></a>
        </div>

    </footer>






