       <!--------------- Footer Section --------------->

       <footer class="padded grid-spaceBetween bg-dark">
        <div class="col-4-bottom editable hide-xs">
            <h2> Let's <span class="featured-text-yellow"> 
                <br />connect</span> </h2>
            <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam architecto corrupti quibusdam perferendis temporibus, pariatur, earum optio cupiditate rem tenetur amet nam nobis esse, dolor commodi quas rerum quaerat aut?</p>
        </div>
        <div class="col-4_xs-6-bottom text-center editable ">
            <p> <strong>Call:</strong> <a href="tel:#"> 0416 692 556 </a></p>
            <p> <strong>Email:</strong><a href="mailto:#"> hello@designsbyday.com.au </a></p>
            <p> <strong>Store:</strong> Mount Duneed, Victoria</p>
            <p> <strong>Instagram:</strong><a href="https://www.instagram.com/designsbyday_"> @designsbyday_</a></p>
        </div>
    
        <nav class="col-4_xs-6-bottom text-right ">
            <a href="/index.html">Home</a>
            <a href="/about-me.html">About Me</a>
            <a href="/products.html">Portfolio</a>
            <a href="/contact-me.html">Contact Me</a>
            <a href="/faqs.html">FAQs</a>
        </nav>
    </footer>