       <!--------------- Footer Section --------------->

    <footer class="padded-t-1 padded-b-1 padded-lr grid-spaceBetween bg-featured text-light ">
        <nav class="footer-menu editable col-4-middle">
            <a href="/about.html">About</a>
            <a href="/services.html">Services</a>
            <a href="/portfolio.html">Portfolio</a>
            <a href="/contact.html">Contact Me</a>
            <a href="/faqs.html">FAQs</a>
        </nav>

        <div class="padded-sm bg-light">
            <div class="fb-icon"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </footer>